<p class="username"><b>username</b></p>
<br>
<br>

<table class="table">
  <tbody>

  <tr>
    <th>Id : </th> 
    <th></th>
  </tr>
  <tr>
    <th>Firstname : </th> 
    <th></th>
  </tr>
  <tr>
    <th>LastName : </th> 
    <th></th>
  </tr>
 
  <tr>
    <th>startTime : </th> 
    <th></th>
  </tr>
  <tr>
    <th>endTime : </th> 
    <th></th>
  </tr>
    <tr>
      <th>ArrivalTime : </th> 
      <th></th>
    </tr>     
     <tr>
    <th>nb of days off : </th> 
    <th></th>
  </tr>
  <tr>
    <th>nb of days of delay :  </th> 
    <th></th>
  </tr>
  <tr>
    <th>nbabsence :  </th> 
    <th></th>
  </tr>
  <tr>
    <th>salary :  </th> 
    <th></th>
  </tr>
  
  </tbody>
</table>