table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}
th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}



.button {
  border-radius: 50px;
}

button:hover{
  background-color: rgb(247, 14, 142);
}


a {

margin: 20px auto;
transition: transform .2s;
font-size: 17px;
}
a:hover {
  transform: scale(1.5);

 } 


  
p.username {
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    width: 6em  }

    
  
  .spacer {
      flex: 0.5 0.5 auto;
    }
  
    .ms-1 {
      margin-left: 40px;
    }

    .arrivaltime {    

      position: absolute;
  z-index: 10; /* place .boite-doree au-dessus de .boite-verte et .boite-tirets */
  width: 80%;
  left: 1040px;
  top: 6em;
  font-weight: bold;
    }