<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    
    <link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
</head>
<body>
  <mat-toolbar color="primary" class="mat-elevation-z6" >   <mat-icon> work history </mat-icon><span class="ms-1">  Scoring System
  </span>
  <div class="spacer"></div>
  
    <a  mat-button onMouseOver="this.style.color='white'" onMouseOut="this.style.color='white'"  routerLink="/scores">display my scores</a>
  
    <button class="button" mat-raised-button color="accent" routerLink="/auth" (click)='onSignOut()'>Logout</button>

  </mat-toolbar>
  
  
  
  <br>
  <div class="arrivaltime">You're logged in at {{date | date:'HH:mm:ss'}}</div>
  <br>
  <p class="username"><b>username</b> {{user.username}}  </p>
<br>
<br>

<table class="table">
  <tbody>

  <tr>
    <th>Id : {{user.id}}</th> 
    <th></th>
  </tr>
  <tr>
    <th>Firstname : {{user.firstName}}</th> 
    <th></th>
  </tr>
  <tr>
    <th>LastName : {{user.lastName}}</th> 
    <th></th>
  </tr>
 
  <tr>
    <th>startTime : {{user.startTime | date :  "dd.MM.y"}}</th> 
    <th></th>
  </tr>
  <tr>
    <th>endTime :{{user.endTime | date :  "dd.MM.y"}}</th> 
    <th></th>
  </tr>
      
     <tr>
    <th>number of days off : {{user.daysoff}}</th> 
    <th></th>
  </tr>
  <tr>
    <th>number of days of delay :  {{user.nbdaysofdelay}}</th> 
    <th></th>
  </tr>
  <tr>
    <th>number of days absent :  {{user.nbabsence}}</th> 
    <th></th>
  </tr>
  <tr>
    <th>salary :  {{user.salary}}</th> 
    <th></th>
  </tr>
  
  </tbody>
</table>
</body>
